{% extends "base.html" %}
{% block content %}
<br>
<div class="justify-content-center d-flex image-left">
    <img src="/static/avatar.png"
         style="border-radius: 8px">
    <br>
    <div class="col-lg-4 col-md-6 m-4">
        <p>
            გამარჯობა, ჩემი სახელია ქეთი, ადრეული ასაკიდან დაინტერესებული ვიყავი კლიმატის კრიზისითა და დედამიწის
            დახმარებით, სწორედ, ამიტომ გადავწყვიტე შემექმნა საიტი კლიმატის ცვლილებაზე, სადაც არის წარმოდგენილი პასუხები
            კლიმატთან დაკავშირებით ყველაზე ხშირად დასმულ კითხვებზე , მოიძებნება კლიმატის ცვლილების დამამტკიცებელი
            სტატისტიკა, დამატებითი ინფორმაცია და ეს ყველაფერი მარტივ და გასაგებ ენაზეა წარმოდგენილი მკითხველისათვის. </p>
    </div>
</div>

{% endblock %}
