{% extends "base.html" %}
{% block content %}
<br>
<div class="justify-content-center d-flex image-left">
    <img src="https://media-private.canva.com/Tdzqo/MAFMlaTdzqo/1/t.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20220918%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220918T064109Z&X-Amz-Expires=39402&X-Amz-Signature=22d0a306afaf3a848030d169d7d421a2da3af919d2094b6541d4f7472fa7eac6&X-Amz-SignedHeaders=host&response-expires=Sun%2C%2018%20Sep%202022%2017%3A37%3A51%20GMT"
         style="border-radius: 8px"
         alt="Human Rights Logo"/>
    <br>
    <div class="col-lg-4 col-md-6 m-4">
        <p>
            გამარჯობა, ჩემი სახელია ქეთი, ადრეული ასაკიდან დაინტერესებული ვიყავი კლიმატის კრიზისითა და დედამიწის
            დახმარებით, სწორედ, ამიტომ გადავწყვიტე შემექმნა საიტი კლიმატის ცვლილებაზე, სადაც არის წარმოდგენილი პასუხები
            კლიმატთან დაკავშირებით ყველაზე ხშირად დასმულ კითხვებზე , მოიძებნება კლიმატის ცვლილების დამამტკიცებელი
            სტატისტიკა, დამატებითი ინფორმაცია და ეს ყველაფერი მარტივ და გასაგებ ენაზეა წარმოდგენილი მკითხველისათვის. </p>
    </div>
</div>

{% endblock %}
